#landing
{
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
	color:#dea5a4;
     text-align: center;
     margin-bottom: 200px;
     margin-right: 300px;
     margin-left: 300px;
     
}

.hello{
    text-align: center;
	font-size: 5rem;
	font-family: 'Montserrat', sans-serif;
	color:#dea5a4;
}

#about
{
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
	color:#dea5a4;
     text-align: center;
     margin-bottom: 200px;
     margin-right: 300px;
     margin-left: 300px;
     
}

#work
{
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
	color:#dea5a4;
     text-align: left;
     margin-bottom: 200px;
     margin-right: 300px;
     margin-left: 300px;
     
}

body
{
      background-color: black;
}

p.about{

    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    text-align: center;
	font-size: 2rem !important;
	color:#dea5a4;
	margin-left:60px !important;
	margin-top: 0px;
	line-height: 20px
}

#learnmore{
    border: 2px solid #dea5a4;
    background-color: black;
    text-align: center;
    color: #dea5a4;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

#demo {
    text-align: center;
    color: #dea5a4;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;

}

.abt{
    margin-left:60px !important;
    text-align: center;
	font-size: 5rem;
	font-family: 'Montserrat', sans-serif;
	color:#dea5a4;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.jobtitle{
    color: #dea5a4;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

.jobdescp
{
    color: #dea5a4;
    font-family: 'Montserrat', sans-serif;
}

#gt, #ft, #ot
{
    opacity: 50%
}

#gt:hover, #ft:hover, #ot:hover
{
    opacity: 100%
}

#gt:hover + #gd
{
    opacity: 100%
}

#gd, #od, #fd
{
    opacity: 0%;
}

#ft:hover + #fd
{
    opacity: 100%
}

#ot:hover + #od
{
    opacity: 100%
}

#projects
{
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
	color:#dea5a4;
     text-align: center;
     margin-bottom: 200px;
     margin-right: 300px;
     margin-left: 300px;
     
}

/* Slideshow container */
.slideshow-container {
    top:10px;
  position: relative;
  background: black;
}

/* Slides */
.mySlides {
  display: none;
  /* padding: 60px; */
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  /* position: absolute; */
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev
{
    left:0;
    position:absolute;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: black;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
.projname { font-family: 'Montserrat', sans-serif; color: #dea5a4; font-size: 50px}

/* Add a blue color to the author */
.projdesc {font-family: 'Montserrat'; color: #fdfd96; font-size: 20px}

.sectionheader
{
    font-family: 'Montserrat'; color: white;
    font-size: 60px;
    text-align: center;
}

.marquee {
    padding-top: 0%;
    width: 50%;
    margin-left: 200px;
	line-height: 5px;
	color:#b19cd9;
    white-space: nowrap;
    overflow: hidden;
    /* box-sizing: border-box; */
}
.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.icons{
    text-align: center;
	font-size: 2.5rem;
}

.icon{
    color:#dea5a4;
	opacity: 100%
}

.icon:hover{
    color:#dea5a4;
	opacity: 75%
}

#contact
{
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
	color:#dea5a4;
     text-align: left;
     margin-bottom: 200px;
     margin-right: 300px;
     margin-left: 300px;
     
}